<!-- app.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': ((submitted || f['firstName'].touched) && f['firstName'].errors)}"
            />
            <div *ngIf="(submitted || f['firstName'].errors)" class="invalid-feedback">
              <div *ngIf="f['firstName'].errors?.['required']">First Name is required</div>
              <div *ngIf="f['firstName'].errors?.['minlength']">First Name must be at least 2 characters long</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': ((submitted || f['lastName'].touched) && f['lastName'].errors) }"
            />
            <div *ngIf="submitted || f['lastName'].errors" class="invalid-feedback">
              <div *ngIf="f['lastName'].errors?.['required']">Last Name is required</div>
              <div *ngIf="f['lastName'].errors?.['minlength']">Last Name must be at least 2 characters long</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': ((submitted || f['email'].touched) && f['email'].errors) }"
            />
            <div *ngIf="submitted || f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors?.['required']">Email is required</div>
              <div *ngIf="f['email'].errors?.['email']">Email is invalid</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': ((submitted || f['password'].touched) && f['password'].errors) }"
            />
            <div *ngIf="submitted || f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors?.['required']">Password is required</div>
              <div *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters long</div>
            </div>
          </div>

  
          <button type="submit" class="btn btn-primary w-100 mt-3 mb-5">Register</button>
        </form>
      </div>
    </div>
  </div>
  