<div class="one container-fluid p-0">
    <img src="pexels-allan-mas-5623677.jpg" class="w-100" alt="">
</div>
<div class="container">
    <h3 class="w-75 m-auto text-center py-5 my-5 fs-2">
        <span class="text-warning">Online Store 2.0 features</span> will boost your sales  and allow you to scale up your business.</h3>
    <div class="content row">
        <div class="media col-12 col-md-5">
            <img src="pexels-matthew-barra-178916-812875.jpg" alt="">
        </div>
        <div class="meta col-12 col-md-5">
            <h4>Wishlist & Popup Compare</h4>
            <p>Let the customers create their own product collections and enables them to compare products that fulfill similar needs and help them to make the right choice.</p>
        </div>
    </div>
    <div class="content row flex-column-reverse flex-md-row">
        <div class="meta col-12 col-md-5">
            <h4>Custom tabs on the Product page</h4>
            <p>Structurize your product page content and make it more readable using tabs (collapse). Row content, unique icons, custom liquid and functionality options with help you to organize the info on your product page</p>
        </div>
        <div class="media col-12 col-md-5">
            <img src="pexels-jose-martin-segura-benites-1422456152-27617195.jpg" alt="">
        </div>
    </div>
    <div class="content row">
        <div class="media col-12 col-md-5">
            <img src="pexels-david-mile-527576925-16425585.jpg" alt="">
        </div>
        <div class="meta col-12 col-md-5">
            <h4>Drawer option with reviews output</h4>
            <p>Display any information on your product page with additional sidebars - drawers and expand your product page fullness with unique information, content of a specific page, reviews, etc.</p>
        </div>
    </div>
    <div class="content row flex-column-reverse flex-md-row">
        <div class="meta col-12 col-md-5">
            <h4>Different product variants views</h4>
            <p>You can choose desired view from available options and customize it according to your specific requirements.</p>
        </div>
        <div class="media col-12 col-md-5">
            <img src="pexels-animesh-srivastava-3019173-8603470.jpg" alt="">
        </div>
    </div>
</div>