
.content div{
    height: 400px;
    overflow: hidden;
} 
.content div img{
    width: 100%;
    height: 100%;
}
.content{
    margin-block: 2rem;
    justify-content: space-between;
}
.content .media{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    overflow: hidden;
    padding: 0;

}
.content .meta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .meta h4{
    font-size: 2.5rem;
}
.content .meta p{
    color:#aaa;
}