<div class="container-fluid">
    <div class="row d-flex justify-content-around">
        <div class="sidebar col-3 position-relative" >
            <div class="d-flex position-fixed bg-body-tertiary side col-3 p-3 flex-column flex-shrink-0">

            <a routerLink="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-gauge me-md-2 fs-3 text-center m-auto pt-5 pt-md-0 text-md-start"></i>
                <span class="fs-4 d-none d-md-inline-block">Dashboard</span>
            </a>
            <hr>
            <ul class="nav nav-pills nav-flush text-center text-md-start flex-column mb-auto">
            <li>
                <a [routerLink]="['orders']" routerLinkActive="active"  class="nav-link link-body-emphasis">
                    <i class="fa-solid fa-calendar-days me-2"></i>
                    <span class="d-none d-md-inline-block">Orders</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['dash-products']" routerLinkActive="active" class="nav-link link-body-emphasis">
                    <i class="fa-brands fa-product-hunt me-2"></i>
                    <span class="d-none d-md-inline-block">Products</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['customers']" routerLinkActive="active" class="nav-link link-body-emphasis">
                    <i class="fa-solid fa-user me-2"></i>
                    <span class="d-none d-md-inline-block">Customers</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['messages']" routerLinkActive="active" class="nav-link link-body-emphasis">
                    <i class="fa-solid fa-message me-2"></i>
                    <span class="d-none d-md-inline-block">Messages</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['notifications']" routerLinkActive="active" class="nav-link link-body-emphasis">
                    <i class="fa-solid fa-bell me-2"></i>
                    <span class="d-none d-md-inline-block">Notifications</span>
                </a>
            </li>
            </ul>
            </div>
        </div>
        
        <div class="col-8 dash-body">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>